<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/HRManagement.js"></script>
    <link rel="stylesheet" href="css/management.css" />
    <link rel="stylesheet" href="css/save.css">
</head>

<body ng-app="crud-app" ng-controller="crud-ctrl">
    <h2>Human Resource Management</h2>
    <div>
        <button ng-click="enableForm()" style="width:auto;">Insert</button>
        <div id="id01" class="modal">
            <form name="dataForm" id="dataForm">
                <div class="container">
                    <label for="fullname">Fullname</label>
                    <input type="text" maxlength="200" placeholder="Enter Fullname" id="fullname" name="fullname"
                        ng-model="person.fullname" value="" required />

                    <label for="username">Username</label>
                    <input type="text" maxlength="200" id="username" placeholder="Enter Username" name="username"
                        ng-model="person.username" value="" pattern="^[a-zA-Z0-9_]*$" required />

                    <label for="password">Password</label>
                    <input type="password" minlength="6" maxlength="50" id="password" placeholder="Enter Password"
                        name="password" ng-model="person.password" value="" required />
                    <label for="repassword">Re-enter Password</label>
                    <input type="password" minlength="6" maxlength="50" id="repassword"
                        placeholder="Enter Password again" value="" name="repassword" required />

                    <label for="address">Address</label>
                    <input type="text" maxlength="500" id="address" placeholder="Enter Address" name="address"
                        ng-model="person.address" value="" required />

                    <label for="age">Age</label>
                    <input type="text" id="age" placeholder="Enter Age" value="" name="age" ng-model="person.age" pattern="^[0-9]*$" required />

                    <input type="hidden" ng-model="person.id" />

                    <button type="none" ng-click="saveRecord()" class="registerbtn">Save</button>

                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="none" class="cancelbtn" ng-click="clearr()">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div class="table">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Fullname</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Address</th>
                        <th>Age</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people">
                        <td>{{person.id}}</td>
                        <td>{{person.fullname}}</td>
                        <td>{{person.username}}</td>
                        <td>{{person.password}}</td>
                        <td>{{person.address}}</td>
                        <td>{{person.age}}</td>
                        <td>
                            <a href="#" ng-click="edit(person.id)">Edit</a>
                            <a href="#" ng-click="delete(person.id)">Delete</a>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>

</body>

</html>