:root {
  --main-blue: rgb(4, 141, 187);
  --main-blue-hover: rgb(3, 160, 212);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

html {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.page-wrapper {
  position: relative;
  padding-top: 20px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  background-color: var(--main-blue);
}

.top-bar > * {
  display: flex;
  justify-content: center;
}

.top-bar > .top > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.top-bar > .top a button {
  background-color: rgb(4, 127, 168);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: all 0.35s ease-in-out;
}

.top-bar > .top a button {
  text-decoration: none;
  color: white;
}
.top-bar > .top a button:hover {
  background-color: rgb(0, 94, 126);
}

.main-nav {
  display: flex;
  list-style-type: none;
}

.main-nav li {
  position: relative;
  display: block;
}

.main-nav > li a {
  display: block;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  white-space: nowrap;
}

.main-nav > li a:hover {
  background-color: var(--main-blue-hover);
}

.main-nav > li > a > i {
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  margin-left: 2px;
}
.main-nav > li > a:hover > i {
  transform: rotate(90deg);
}

.main-nav > li .dropdown {
  position: absolute;
  top: 100%;
  color: white;
  background-color: var(--main-blue);

  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.35s ease-in-out;
  box-shadow: 1px 1px 5px #bbb;
}
.main-nav > li > a:hover~.dropdown,
.main-nav .dropdown:hover {
  opacity: 1;
  transform: translateY(0);
}

.main-nav .dropdown li {
  border-top: 1px solid white;
}

main {
  /* height: 130vh; */
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.post {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.post > div {
  width: 25%;
}

.post article {
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 40vh;
  text-overflow: ellipsis;
}

.post article .img-wrapper {
  height: 125px;
  overflow: hidden;
  height: 20vh;
}

.post article img {
  width: 100%;
  height: 100%;
}

.post-info {
  padding: 15px 20px;
}

.post-info a {
  text-decoration: none;
}

.post-info-title {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.post-info-title > * {
  color: var(--main-blue);
  transition: all 0.3s ease-in-out;
}

.post-info-title:hover > * {
  color: var(--main-blue-hover);
}

.post-info-title i {
  font-size: 12px;
  margin-left: 2px;
  opacity: 0;
}
.post-info-title:hover i {
  transform: translateX(3px);
  opacity: 1;
}

.post-info-author {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: var(--main-blue);
  color: white;
}

.logo {
  width: 50x;
  height: 50px;
}